{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
    <h1>Mes articles</h1>

    {# Vérifie s’il existe au moins 1 article dans la variable "articles" #}
    {% if articles %}
    {# Si oui, on crée une liste HTML des articles de l’utilisateur connecté #}
        <ul>
        {# Boucle sur chaque article transmis à la vue pour construire la liste #}
            {% for article in articles %}
            {# Chaque article est affiché sous forme de lien vers sa page de détail + sa date #}
                <li>
                    <a href="{{ path('article_show', { id: article.id }) }}">{{ article.titre }}</a>
                    ({{ article.dateCreation|date('d/m/Y') }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez pas encore publié d’article.</p>
    {% endif %}

    <a href="{{ path('article_new') }}">📝 Publier un article</a>
{% endblock %}
